{{#if paid}}
<div style="width: 100%;">
    <div class="payment-processing">
        <div class="loader">Loading...</div>
        <div class="stripe-card-title">Your payment is processing</div>
    </div>
    <div class="payment-complete">
        <svg width="65" height="65">
            <path id="check" d="M15,35 25,50 l30,-35" />
        </svg>
        <div>
            <div class="stripe-card-title">Thank you for your support!</div>
            <div class="stripe-card-text">You are now at position {{position}}.</div>
        </div>
    </div>

</div>
{{else if bumpError}}
<div class="payment-error">
    <div class="stripe-card-title">An error has occured.</div>
    <div class="stripe-card-text">Please try again.</div>
    <div class="stripe-card-text">You are now at position {{position}}.</div>
</div>
{{else}}
<div>
        <div class="stripe-card-title">Uh oh! Looks like Jimmy is in high demand.</div>
        <div class="stripe-card-text"><span class="stripe-ad-text">Ad</span> | jimmified.com | position {{position}}</div>
        <div class="stripe-card-text">Support the site to bump your place in queue.</div>
        <div class="stripe-card-text">All payments agree to the <a href="#terms">terms and conditions</a>.</div>

</div>
{{/if}}
<div>
    <a id="stripe-pay-btn" class="stripe-btn">Support for $1</a>
</div>
