{{#each queue}}
    <div class="question-card card {{#if paid}}paid animated-forever shake{{/if}}" data-question-id={{key}}>
        <div class="card-title">{{text}}</div>
        <div class="card-text">Question id: {{key}} {{#if paid}}(~*~*¡¡¡PAID!!!*~*~){{/if}}</div>
        <div class="group">
            <input class="answer-input" data-question-id={{key}} type="text" required maxlength="800">
            <span class="highlight"></span>
            <span class="bar"></span>
            <label>Answer</label>
        </div>
        <div class="answer-links">
        </div>
        <a class="admin-add-link" href="javascript:void(0);" data-question-id={{key}}>+ Add a link</a>
        <a class="answer-btn btn-flat" data-question-id={{key}}>RESPOND</a>
    </div>
{{/each}}
